body{
    background-color: #222;
}
.slideshow{
    position: relative;
    margin-top: 48px;
}
.my_slide{
    position: relative;
    display: none;
    animation: fade ease-in-out 0.5s;
}
.my_slide img{
    width: 100%;
}
.number_slide{
    position: absolute;
    top: 8px;
    left: 8px;
    color: #fff;
}
.previous,
.next{
    position: absolute;
    top: 45%;
    color: #fff;
    font-size: 24px;
}
.next{
    right: 0;
}
.previous:hover,
.next:hover{
    background-color: #000;
    color: #fff;
}
.slide_name{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 12px;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

.thumbnail{
    display: flex;
}
.thumbnail_image{
    flex: 1;
    cursor: pointer;
    opacity: 0.5;
}
.thumbnail_image img{
    width: 100%;
}